



<h2></h2>
<div class="container-fluid body_wrapper">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="heading">orderboard.io</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 orderboardbutton">
       <p><%= link_to 'start an orderboard', new_login_mainorderboard_path(@login.id), class: "btn btn-default btn-lg" %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 orderboardbutton">
       <p><%= link_to 'work on an existing board', login_mainorderboards_path(@login.id), class: "btn btn-default btn-lg" %></p>
    </div>
  </div>
</div>