<h1>These are your past orders (Days)</h1>
        	
        	<ul>
        	<% @mainorderboards.each do |l| %>
          
          <li><b><%= l.name %>
          	<%= link_to ' do work on this', mainorderboard_suborders_path(@current_user.id)%></li>
        
          <% end %>
        </ul>
          
