<div class="container-fluid body_wrapper">
  <div class="row">
    <div class="col-xs-12">
			<h1 class="heading">orderboard index</h1>

		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 newlink">
			<% @mainorderboards.each do |m| %>
			<%= link_to m.name, login_suborder_path(@login.id, m.id), class: "btn btn-default btn-lg new link" %>
			<% end %>
		</div>
	</div>
	
</div>

	
