<div class="container-fluid body_wrapper">
  <div class="row">
    <div class="col-xs-12">
			<h1 class="heading">orderboard index</h1>

		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 newlink">
			<% @mainorderboards.each do |m| %>
			<%= link_to m.name, mainorderboard_suborders_path(m.id), class: "btn btn-default btn-lg" %>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 newlink">
			<%= link_to 'new orderboard',new_login_mainorderboard_path(@login.id), class: "btn btn-default btn-lg newlink" %>
		</div>

	</div>
</div>

	
