<head>
   <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen"
     href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
     <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>


     <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>
    
  


     
     <style>
     body {
  background: rgba(21,181,139,0.80);
  height: 100%;
}

 .body_wrapper {

  margin-top: 50px;
  
}
.input-append {
  margin-top: 2%;
  margin-bottom: 1%;
  height: 10%;
}


.heading {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 72px;
  color: white;
  height: 100%;
  text-align: center;
  margin-top: 15%;
  margin-bottom: 1%;
}
.dateinput {
  text-align: center;
}

.addboard {
  margin-top: 1%;
}

.input-append .add-on, .input-prepend .add-on {
  height: 30px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  height: 15%;
}



     </style>
   </head>

<%= form_for [@current_user, @mainorderboard] do |l| %>
<div class="container-fluid body_wrapper">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="heading">set the date</h1>
    </div>
  </div>
  <div class="row">
    <div id="datetimepicker" class="input-append date">
  	<div class="col-xs-2 col-xs-offset-5">
  		<%= l.text_field :name, placeholder: 'xo/xo/xo', class: "form-control  dateinput" %>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
  	</div>
  </div>
  <div class="row">
  	<div class="col-xs-12 addboard">
  		<%= l.submit 'add', class: 'btn btn-default btn-lg' %>
  	</div>
  </div>

     
     <script type="text/javascript">
      $('#datetimepicker').datetimepicker({
        format: 'MM/dd/yyyy',
        language: 'en'
      });
    </script>

</div>	
<% end %>

   
    