<div class="container-fluid body_wrapper">
  <div class="row">
    <div class="col-xs-12">
			<h1 class="heading"> admin vendor edit index</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 pastorder">
			<% @suborder.each do |s| %>
			<%= link_to s.vendorname, suborder_products_path(s.id), class: "btn btn-default btn-lg pastorder" %>
			<%= link_to "Delete", login_suborder_path(@login.id, s.id), method: :delete, data: { confirm: "Are you sure you want to delete #{}?"} %>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 pastorder">		
			<%= link_to 'set up orderboard', new_login_suborder_path(@login.id), class: "btn btn-default btn-lg pastorder" %>
		</div>
	</div>
</div>
