<h1>This is where the suborder index will be</h1>


<ul>
        	<% @suborders.each do |l| %>
          
          <li><b><%= l.vendorname %></li>
          	
        
          <% end %>
        </ul>
        
          	<%= link_to 'Add a Vendor', new_mainorderboard_suborder_path(@mainorderboard.id) %>


