<%= form_for [@mainorderboard, @suborder] do |l| %>
<div class="container-fluid body_wrapper">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="heading">enter vendor</h1>
    </div>
  </div>
  <div class="row">
  	<div class="col-xs-12 orderboardbutton">
  		<%= l.text_field :vendorname, placeholder: 'enter vendor', class: "btn btn-default btn-lg" %>
  	</div>
  </div>
  <div class="row">
  	<div class="col-xs-12 addboard">
  		<%= l.submit "Add" %>
  	</div>
  </div>

</div>	
<% end %>