/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 

@import 'bootstrap';

@import url("https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

.navbar {
	margin-bottom: 0px;
}
body {
	background: rgba(21,181,139,0.80);
	height: 100%;
}

 .body_wrapper {

	margin-top: 50px;
	
}
.input {
	margin-top: 2%;
	margin-bottom: 1%;
}

.heading {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 72px;
	color: white;
	height: 100%;
	text-align: center;
	margin-top: 15%;
	margin-bottom: 1%;
}
.addboard {
	text-align: center;
}

.thumbnail {
	margin-top: 50%;
	
}

.col-xs-4 {
	float: none;
	display: inline-block;
	vertical-align :middle;
}