// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bottom_nav {
	text-align: center;
}
.body_wrapper {
	margin-top: 10%;
}
.enterproduct {
	margin-top: -20%;
}

.product {
	padding: 5%;
}